.card1 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
    filter: contrast(73%);
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
    filter: contrast(78%);
  }
  
  .container1 {
    padding: 2px 16px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* filter: contrast(73%); */
  }
  .card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
    filter: contrast(78%);
  }
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .container2 {
    padding: 2px 16px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .card3 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
    filter: contrast(78%);
  }
  
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .container3 {
    padding: 2px 16px;
    background-color:rgb(10, 10, 10);
    color: rgb(241, 235, 235);
    font-family: 'Roboto', sans-serif;
  }
  .card4 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
    filter: contrast(73%);
  }
  
  .card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
    filter: contrast(78%);
  }
  
  .container4 {
    padding: 2px 16px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* filter: contrast(73%); */
  }
  .card{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }