/* .s-card1 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%; */

  .s-title{
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
  }
  
  .s-card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .s-container1 {
    padding: 2px 16px;
    background-color: gainsboro;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  .s-card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
  }
  
  .s-card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .s-container2 {
    padding: 2px 16px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .s-card3 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
  }
  
  .s-card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .s-container3 {
    padding: 2px 16px;
    background-color:gainsboro;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  /* .s-card4 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 30%;
  
 
  
  .s-card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 33%;
  }
  
  .s-container4 {
    padding: 2px 16px;
    background-color:gainsboro;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  .s-card{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  